@import url('https://fonts.googleapis.com/css?family=Lobster');
.cover {
  background-image: url("./img/bg-1.png");
  background-size: cover;
  width: 100%;
}
.coverBottom {
  background-image: url("./img/bg-2.png");
  background-size: cover;
  width: 100%;
}
.iph {
  width: 350px;
  height: 600px;
}
.icon {
  width: 70px;
  height: 70px;
}
.copy {
  font-family: 'Lobster', cursive;
  font-size: 18px;
}